<button type="button" {{action sendAction 'cambiar-paso' paso}}
	class="btn {{if seleccionado "btn-primary btn-circle" "btn-default btn-circle-small"}}">
	  {{paso.numero}}
</button>
<p>{{paso.nombre}}</p>
