<div class="row">
  <div class="col-md-2 col-xs-2">&nbsp;</div>
  <div class="col-md-8 col-xs-8">

    <div class="box">

      <div class="box-icon">
        <img src="imagenes/huayra-cv.png">
      </div>

      <div class="info">

        <h4 class="text-center">¡Creá tu primer Curriculum!</h4>

        <p>Mediante <em>huayra-curriculum</em> vas a poder
          realizar tu primer Curriculum Vitae de manera profesional
          en muy pocos minutos. Reunimos consejos, buenas
          prácticas, algunos trucos y plantillas para guiarte
          paso a paso.</p>

        <div class="barra-botones">
          <button {{action verModal   "que-es-un-cv"}} class="btn">¿Qué es un currículum?</button>
          <button {{action sendAction "alabrir"}}      class="btn btn-warning">Abrir existente</button>
          <button {{action verModal   "recomendaciones-generales"}} class="btn btn-success">currículum nuevo</button>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-2">&nbsp;</div>
  {{#ember-remodal forService=true name="recomendaciones-generales"}}
    <div class="info">
      <h4>Te dejamos algunas recomendaciones generales:</h4>
      <ul class="recomendaciones-tips">
        <li>La información debe ser detallada, breve y fácil de comprender.</li>
        <li>Utilizá frases cortas, no escribas palabras difíciles o de uso muy específico de una empresa.</li>
        <li>No uses abreviaturas o siglas.</li>
        <li>Revisá los textos con atención para evitar faltas de ortografía.</li>
      </ul>
      <div class="barra-botones">
        <button {{action sendAction "alcrear"}} class="btn btn-success">Ahora sí, ¡Empecemos!</button>
      </div>
    </div>
  {{/ember-remodal}}
  {{#ember-remodal forService=true name="que-es-un-cv"}}
    <div class="info">
      <h4>¿Qué es un currículum?</h4>
      <p>El CV es la primera impresión que el empleador (sea una organización, una
         institución o un particular) tendrá acerca tuyo. En esta presentación,
         deberías mostrar, de manera ordenada y sintética, los saberes y
         experiencias más representativos de tu perfil.</p>
      <p>Si pensás postularte a distintos puestos de trabajo, te servirá redactar
         más de un CV y adaptar aquellos puntos que quieras resaltar de tu
         experiencia, adaptándolo según el perfil requerido en cada caso.</p>
      <p>Si bien ningún CV es igual a otro, con esta herramienta podrás armar un
         modelo "base" al que puedas incorporar o quitar datos, según el puesto
         que busques en cada ocasión.</p>
    </div>
  {{/ember-remodal}}
</div>
