<div>

  <img src={{imageURL}} alt="" />

&nbsp;
  Versión: {{version}}


{{#if infoURL}}
<p class='p-version'>
  <a {{action "abrir_link"}} class='link-version'>(existe actualización)</a>
</p>
{{/if}}

</div>
