<style>
.box {
  border-radius: 3px;
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 90px;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.box-icon {
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info > p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
  text-align: justify;
}
.barra-botones {
  margin-top: 40px;
}

.barra-botones .btn {
  margin-left: 1em;
}
</style>

<div class="row">
  <div class="col-md-2 col-xs-2">&nbsp;</div>
  <div class="col-md-8 col-xs-8">

    <div class="box">

      <div class="box-icon">
        <img src="imagenes/huayra-cv.png">
      </div>

      <div class="info">

        <h4 class="text-center">¡Creá tu primer Curriculum!</h4>

        <p>Mediante <em>huayra-curriculum</em> vas a poder
          realizar tu primer Curriculum Vitae de manera profesional
          en muy pocos minutos. Reunimos consejos, buenas
          prácticas, algunos trucos y plantillas para guiarte
          paso a paso.</p>

        <div class="barra-botones">
          <button {{action verModal   "que-es-un-cv"}} class="btn">¿Qué es un currículum?</button>
          <button {{action sendAction "alabrir"}}      class="btn btn-warning">Abrir uno existente</button>
          <button {{action sendAction "alcrear"}}      class="btn btn-success">Crear un curriculum nuevo</button>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-2">&nbsp;</div>
  {{#ember-remodal forService=true name="que-es-un-cv"}}
    <div class="info">
      <h4>¿Qué es un currículum?</h4>
      <p>El CV es la primera impresión que el empleador (sea una organización, una
         institución o un particular) tendrá acerca tuyo. En esta presentación,
         deberías mostrar, de manera ordenada y sintética, los saberes y
         experiencias más representativos de tu perfil.</p>
      <p>Si pensás postularte a distintos puestos de trabajo, te servirá redactar
         más de un CV y adaptar aquellos puntos que quieras resaltar de tu
         experiencia, adaptándolo según el perfil requerido en cada caso.</p>
      <p>Si bien ningún CV es igual a otro, con esta herramienta podrás armar un
         modelo "base" al que puedas incorporar o quitar datos, según el puesto
         que busques en cada ocasión.</p>
    </div>
  {{/ember-remodal}}
</div>
