<div class="row">

  <div class="tutorial col-md-12 col-xs-12">
    <div class='hero-unit'>
      <h3>¡Listo!</h3>

      <p>Ya tenemos armado tu CV en formato .odt, listo para
        imprimir o modificar desde open-office.</p>

      {{#if guardando}}
        <button disabled class='btn btn-success'><i class='fa fa-refresh rotate'></i> Guardar archivo odt</button>
      {{else}}
        <button {{action 'guardarODT'}} class='btn btn-success'><i class='fa fa-download'></i> Guardar archivo odt</button>
      {{/if}}

      <br/>
      <br/>

      {{#if mensaje}}
        <div class="alert alert-warning">
          {{mensaje}}
        </div>
      {{/if}}

    </div>
  </div>

</div>

<input id='fileDialog' type="file" nwsaveas="cv.docx" style="display: none"/>
