<div class="row">

  <div class="col-md-6 col-xs-6">
    <h4>Paso 5</h4>


    <p>primer.</p>

  </div>

  <div class="col-md-6 col-xs-6">
    Formulario: {{model}}

    <button {{action 'avanzar' 6 model}} class='btn btn-success'><a class='fs fa-right'></a> Siguiente</button>


  </div>
</div>




{{outlet}}
