<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 4</h4>

    <p>...</p>

  </div>

  <div class="col-md-6 col-xs-6">
    <div class='form-group'>
      <label class="ember-view control-label">Sin definir...</label>
    </div>


    <button {{action 'avanzar' 5 model}} class='btn btn-success siguiente'><a class='fs fa-right'></a> Siguiente</button>


  </div>
</div>




{{outlet}}
