<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/dp-2.png"></h1>
  <div class="datos">
    {{#validated-form model=model as |f|}}
      {{f.input type="label" name="email"       label="Tu email"	placeholder="usuario@ejemplo.com"}}
      {{f.input type="label" name="telefono" label="Teléfono"		 placeholder="Teléfono completo..."}}
      {{f.input type="label" name="direccion"   label="Tu domicilio"	placeholder="San Martín y Teodoro Fels"}}
    {{/validated-form}}
  </div>

  <div class="tutorial">
    <p>La dirección de correo electrónico es muy utilizada en
       determinados espacios laborales.</p> 

    <p>El domicilio es un dato que sirve para dar una idea de
       la distancia al lugar de trabajo. No es obligatorio
       poner la numeración exacta de la calle, podés poner el
       barrio o zona donde vivís.</p>

    <p>No es imprescindible incluir fecha de nacimiento, DNI,
       estado civil o hijos, excepto sea solicitada
       expresamente.</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>Si tu e-mail no es muy formal, crea una
      nueva casilla (con tu nombre y apellido, por ejemplo) y
      asegurate de revisarla con frecuencia.</p>

  </div>
</div>

{{outlet}}
