<div class="row">

  <div class="col-md-6 col-xs-6">
    <h4>Datos Personales</h4>

    <p>Lo primero que necesitamos es especificar
      tus datos personales, esto es importante como
      primer.</p>

  </div>

  <div class="col-md-6 col-xs-6">
    Formulario: {{model}}


    <button class='btn btn-success'><a class='fs fa-right'></a> Siguiente</button>

  </div>
</div>




{{outlet}}
