<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/op.png"></h1>
  <div class="datos">
    {{#validated-form model=model as |f|}}
      {{f.input type="textarea" id="inter" name="objetivo" label="Objetivo personal" placeholder=""}}
    {{/validated-form}}
  </div>

  <div class="tutorial">
    <p>El objetivo personal no es un dato obligatorio pero se
       puede agregar para ordenar la lectura priorizando
       intereses, experiencias o saberes.</p>

    <p>En el objetivo podés mencionar, las ganas de aprender y
       desarrollarte en una rama de actividad, las
       posibilidades de viajar o de horarios, tu voluntad de
       progresar en un área determinada, la contribución que
       podés aportar o alguna característica que creas
       relevante mencionar</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>¡Si tu CV no requiere de foto u
       objetivos personales, ¡pasá directamente al próximo
       paso!</p>
  </div>
</div>

{{outlet}}