<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/dp-1.png"></h1>
  <div class="datos">
    {{#validated-form model=model as |f|}}
      {{f.input type="label" name="nombre"   label="Tu nombre"          placeholder="Ingresá un nombre o más..."}}
      {{f.input type="label" name="apellido" label="Tu apellido"        placeholder="Ingresá tu apellido o más..."}}
      {{f.input type="label" name="telefono" label="Teléfono"		placeholder="Teléfono completo..."}}
    {{/validated-form}}
  </div>

  <div class="tutorial">
    <p>El primer paso es especificar tus datos personales, para
       que puedan conocer cómo contactarte</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>¡Es mejor indicar únicamente el
       teléfono celular! El teléfono de línea puede ser un
       inconveniente cuando nadie lo atiende o lo atiende
       alguien de forma indebida.</p>
  </div>
</div>

{{outlet}}