<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/dp-2.png"></h1>
  <div class="datos">
    {{#validated-form model=model as |f|}}
      {{f.input type="label" name="email"       label="Tu email"	placeholder="usuario@ejemplo.com"}}
      {{f.input type="label" name="telefono" label="Teléfono"		 placeholder="Teléfono completo..."}}
    {{/validated-form}}
  </div>

  <div class="tutorial">
    <p>La dirección de correo electrónico es muy utilizada en
       determinados espacios laborales.</p>

    <p>Si tu e-mail no es muy
       formal, crea una nueva casilla (con tu nombre y apellido,
       por ejemplo) y asegurate de revisarla con frecuencia.</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>¡Es mejor indicar únicamente el
       teléfono celular! El teléfono de línea puede ser un
       inconveniente cuando nadie lo atiende o lo atiende
       alguien de forma indebida.</p>
  </div>
</div>

{{outlet}}
