<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 5</h4>

    <p>A las personas que van a mirar tu CV les interesa saber cuáles son tus intereses y las cosas que te gustan hacer. Por ejemplo: "Me interesa leer", "Me gustan mucho los deportes en equipo", etc.</p>

  </div>

  <div class="col-md-6 col-xs-6">
    {{#validated-form model=model as |f|}}
      {{f.input type="label" name="intereses" label="Intereses" placeholder="Un breve texto"}}
    {{/validated-form}}

    <button {{action 'avanzar' 6 model}} class='btn btn-success siguiente' id="siguiente"><a class='fs fa-right'></a> Siguiente</button>
  </div>
</div>




{{outlet}}
