<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 2</h4>

    <p>La dirección de <em>email</em> se utiliza mucho
    dentro de algunas empresas, asegurate te tener una dirección
    que puedas revisar con frecuencia.</p>

    <p>La dirección de tu domicilio no es muy importante en sí, pero sirve para darse una idea de la distancia al lugar de trabajo. No es obligatorio poner la numeración exacta de la calle. Te recomendamos poner el barrio donde vives.
    </p>
      <p>
Ejemplo: Teodoro Fels y San Martín - Ezeiza - Buenos Aires
      </p>

  </div>

  <div class="col-md-6 col-xs-6">

    {{#em-form model=model submit_button=false submitButton=false}}
      {{em-input property="email" label="Email" placeholder="¿Cual es tu e-mail?"}}
      {{em-input property="direccion" label="Dirección de tu domicilio" placeholder="Dirección"}}
    {{/em-form}}

    <button {{action 'avanzar' 3 model}} class='btn btn-success siguiente'><a class='fs fa-right'></a> Siguiente</button>


  </div>
</div>




{{outlet}}
