<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/pl.png"></h1>
 <div class="plantillas">
    {{huayra-selector-plantilla onSelect=(action "seleccionarPlantilla") seleccionada=plantilla}}
</div>
  <div class="tutorial-plantilla">
    <p>¡Ya casi terminamos! Elegí una plantilla prediseñada para ponerle estilo a tu currículum.</p>

  </div>
</div>
