<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/li.png"></h1>
  <div class="final">
    <h6>Coso coso coso, coso coso coso.</h6>
    {{huayra-selector-plantilla onSelect=(action "seleccionarPlantilla") seleccionada=plantilla}}
  </div>
</div>