#-*- encoding: utf-8 -*-
import datetime

ignore_regexps = []
replace_regexps = {}
section_regexps = [
    ('Other', None)
]

body_split_regexp = r'\n(?=\w+\s*:)'
tag_filter_regexp = r'^[0-9]+\.[0-9]+(\.[0-9]+)?$'
unreleased_version_label = u"Beta " + datetime.datetime.now().strftime('%Y-%m-%d')

output_engine = rest_py
