Source: huayra-curriculum
Section: text
Priority: extra
Maintainer: Ignacio Losiggio <iglosiggio@gmail.com>
Build-Depends: debhelper (>= 8.0.0), git, nodejs, ca-certificates
Standards-Version: 3.9.3
Homepage: http://github.com/HuayraLinux/huayra-curriculum
Vcs-Git: git://github.com/HuayraLinux/huayra-curriculum.git
Vcs-Browser: https://github.com/HuayraLinux/huayra-curriculum

Package: huayra-curriculum
Architecture: all
Depends: ${misc:Depends}, electron, huayra-fonts
Description: Facilita la creación de curriculums
 Huayra-curriculum es un asistente que permite crear curriculums 
 de manera sencilla, incluyendo ejemplos, consejos y buenas prácticas.
