[Desktop Entry]
Name=Huayra Curriculum
Comment=Permite crear tu primer curriculum vitae
Exec=/usr/bin/huayra-curriculum
Terminal=false
Type=Application
Icon=huayra-curriculum
Categories=GNOME;GTK;Huayra;
