<div class='container'>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">huayra-curriculum</a>
  </div>


  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>{{nw-zoom}}</li>
    </ul>
  </div>
</div>

{{outlet}}

</div>
