
{{huayra-pasos paso_actual=paso_actual alcambiar='cambiar_paso' modelo=model}}

{{outlet}}

<div class='botones'>
  <button {{action 'guardar'}} class='btn btn-success'>Guardar y regresar</button>
</div>
