<div class="version">
  {{huayra-version url="http://devel.huayra.conectarigualdad.gob.ar/pkg/version/huayra-curriculum"}}
</div>

{{huayra-presentacion alabrir="abrirCurriculumExistente" alcrear="crearNuevoCurriculum"}}


<div class="contenedor-devtools">
  <span class="devtools" onclick="abrir_devtools()">{{fa-icon "cog"}}</span>
</div>
